page-addnews {
    .tool_bar{
        height: 100%;
    }
    ion-item:first-child {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      ion-item:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      ion-item.item {
        background-color: rgba(255, 255, 255, 0.4);
        margin-bottom: 1px;
        .label {
          width: 30%;
          color: rgba(0, 0, 0, 0.6);
          font-size: 0.9em;
          
        }
      } 

      .form-control-feedback {
        //padding: 12px;
        //background-color: rgba(255, 133, 0, 0.1);
        font-weight: bold;
        color: red;
    }

}
