<ion-menu [content]="content" persistent="true" >
        <ion-header>
          <ion-toolbar >
            <ion-title>Volunteers Call</ion-title>
          </ion-toolbar>
        </ion-header>
      
        <ion-content class="bk">
          <ion-list>
            <button menu-toggle ion-item *ngFor="let p of pages" (click)="openPage(p)" class="trm">
              {{p.title}}
              <ion-icon [name]="p.icon" item-left></ion-icon>
        {{ p.name }}
            </button>
            <ion-item *ngIf="show === true" (click)="onLogOut()" class="trm">Sign-Out <ion-icon name="log-out" item-left></ion-icon></ion-item>
          </ion-list>
        </ion-content>
      
      </ion-menu>
      <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
