<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
     
    <ion-title>Volunteer Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <form #f="ngForm" (ngSubmit)="onSignUp(f)" novalidate>
    <ion-list>
         
        <ion-item>
          <ion-label floating>Name</ion-label>
          <ion-input type="text" ngModel name="name" [max]=20 required #name="ngModel"></ion-input>
        </ion-item>
          <div class="form-group" [ngClass]="{  
            'has-danger': name.invalid && (name.dirty || name.touched),  
            'has-success': name.valid && (name.dirty || name.touched)}"> 
          <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">  
              <p *ngIf="name.errors.required">Name is required</p>  
          </div>    
      </div>

        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" ngModel name="email" required #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"></ion-input>
          </ion-item>
          <div class="form-group" [ngClass]="{  
            'has-danger': email.invalid && (email.dirty || email.touched),  
            'has-success': email.valid && (email.dirty || email.touched)}">
          <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">  
              <p *ngIf="email.errors.invalid">Invalid</p> 
              <p *ngIf="email.errors?.required">Email id required</p>
             <p *ngIf="email.errors?.pattern">
                  Email is invalid
              </p>   
            <!--  <span style="color:Red" ng-show="email.$dirty&&personForm.email.$error.pattern">Please Enter Valid Email</span> -->
          </div>
          </div>

          <ion-item>
              <ion-label floating>Gender</ion-label>
            <!--  <ion-input type="text" ngModel name="gender" required placeholder=" \t\tEnter M or F"></ion-input> -->
              <ion-select [(ngModel)]="gender" name="gender" required>
                <ion-option value="f">Female</ion-option>
                <ion-option value="m">Male</ion-option>
              </ion-select>
            </ion-item>


            <ion-item>
                <ion-label floating>Profession</ion-label>
                <ion-input type="text" ngModel name="profession" required [max]=30 [min]=5 #profession="ngModel"></ion-input>
              </ion-item>
              <div class="form-group" [ngClass]="{  
                'has-danger': profession.invalid && (profession.dirty || profession.touched),  
                'has-success': profession.valid && (profession.dirty || profession.touched)}">
              <div class="form-control-feedback" *ngIf="profession.errors && (profession.dirty || profession.touched)">  
                  <p *ngIf="profession.errors.min">Invalid</p> 
                  <p *ngIf="professionl.errors.required">This is a required field</p>
              </div>
              </div>

              <ion-item>
                  <ion-label floating>Phone</ion-label>
                  <ion-input type="number" ngModel name="phone" [min]="10" required #phone="ngModel"></ion-input>
                </ion-item>
                <div class="form-group" [ngClass]="{  
                  'has-danger': phone.invalid && (phone.dirty || phone.touched),  
                  'has-success': phone.valid && (phone.dirty || phone.touched)}">
                <div class="form-control-feedback" *ngIf="phone.errors && (phone.dirty || phone.touched)">  
                    <p *ngIf="phone.errors.min">Invalid</p> 
                    <p *ngIf="phone.errors.required">This is a required field</p>
                </div>
                </div>
      
        <ion-item>

          <ion-label floating>Password</ion-label>
          <ion-input type="password" ngModel name="password" [min]="6" required #password="ngModel"></ion-input>
        </ion-item>
        <div class="form-group" [ngClass]="{  
          'has-danger': password.invalid && (password.dirty || password.touched),  
          'has-success': password.valid && (password.dirty || password.touched)}">
        <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">  
            <p *ngIf="password.errors.valid">Invalid</p> <!---->
            <p *ngIf="password.errors.required">This is a required field</p>
        </div>
        </div>
        
      </ion-list>
      <button ion-button type="submit" [disabled]="!f.valid">Sign Up</button>
    </form>

</ion-content>
